!!!
html
  head
    title Kiler Poboys
    link(type='text/css', rel='stylesheet', href='./css/styles.css')
    script(type='text/javascript', src='http://use.typekit.net/vfd3amo.js')
    script(type='text/javascript')
      try{Typekit.load();}catch(e){}
  body
    #container
      #main
        #red-strip
        #logo
          img(src='/images/logo.png', width='500', height='400', alt='Killer Poboys')
    footer