!!!
html
  head
    title Killer Poboys
    link(type='text/css', rel='stylesheet', href='./css/styles.css')
    link(rel="icon", href="images/favicon.png", type="image/png", size="16x16")
    script(type='text/javascript', src='./js/html5shiv.js')
    script(type='text/javascript', src='./js/retina.js')
    script(type='text/javascript', src='http://use.typekit.net/vfd3amo.js')
    script(type='text/javascript')
      try{Typekit.load();}catch(e){}
  body
    #container
      #main
        #red-strip
        #logo
          img(src='./images/logo.png', width='500', height='400', alt='Killer Poboys')
        p
          | Internationally Inspired Chef Crafted New Orleans Style Sandwiches
        #social-media
          a(href='https://twitter.com/@killerpoboys', target='_blank')
            img(src='./images/twitter.png', width='75', height='75', alt='Follow us on Twitter!')
          a(href='http://www.facebook.com/pages/Killer-Poboys/354081487937620', target='_blank')
            img(src='./images/facebook.png', width='75', height='75', alt='Connect with us on Facebook!')
    footer
