!!!
html
  head
    title Zack Dever
    link(type='text/css', rel='stylesheet', href='./css/index.css')
    script(type='text/javascript', src='http://use.typekit.net/hav0ecf.js')
    script(type='text/javascript')
      try{Typekit.load();}catch(e){}
  body
    #grey-strip
    #all
      h1 Hello, world.
      p My name is Zack and I am a software developer,
        <br /><i>aspiring to be</i> avid backpacker, and supporter of the oxford comma.
      p You may find me bumbling around Baton Rouge, Louisiana,
        <br />though you may find the below more expedient.