* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
body {
  border-top: thick solid black;
}
#container {
  min-height: 100%;
}
#main {
  overflow: auto;
  padding-bottom: 75px;  
}
#red-strip {
  height: 30px;
  background: #990033;
  width: 100%;
  border-bottom: thin solid black;
}
#logo {
  width: 500px;
  height: 400px;
  margin: 0 auto;
  padding-top: 50px;
}
p {
  padding: 50px 0;
  text-align: center;
  font-family: "ff-tisa-web-pro", helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
}
#social-media {
  width: 200px;
  margin: 0 auto;
  padding-left: 20px;
}
#social-media a:nth-of-type(2) {
  margin-left: 25px;
}
#social-media img:hover {
  -webkit-transition: -webkit-filter .5s;
  -webkit-filter: invert(1);
}
footer{
  min-width: 1000px;
  position: relative;
  clear: both;
  height: 75px;
  background: black;
  margin-top: -75px;
  border-top: thick solid #990033;
}